.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  min-width: 280px;
  min-height: 200px;
}

.wrapper svg {
  transition: transform 0.5s;
}

.wrapper:hover svg {
  transform: scale(1.2);
}
