.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: scale 0.5s;
  min-width: 280px;
  min-height: 200px;
}

.wrapper svg {
  transition: all 0.5s;
}

.wrapper:hover svg {
  scale: 1.2;
}
