.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.svgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid var(--black);
  background-color: var(--background-accent-color);
  padding-top: 20vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-weight: 400;
  text-align: center;
}
