.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.svgWrapper {
  /* padding-top: 20px; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  border-bottom: 1px solid var(--background-dark);
  background-color: var(--background-light);
}

.content {
  background-color: var(--black);
  padding-top: 3px;
  padding-bottom: 2px;
  height: 0px;
  width: 100vw;
  transition: all 1s;
  display: flex;
  gap: 3px;
}

.activeContent {
  height: 250px;
}
