.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.svgWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  border-bottom: 1px solid var(--background-dark);
  background-color: var(--background-light);
}

.content {
  height: 0px;
  max-height: 0px;
  background-color: var(--black);
  display: flex;
  gap: 3px;
  width: 100vw;
  transition: all 1s;
}

.content.active {
  padding-top: 3px;
  padding-bottom: 2px;
  height: 25vh;
  max-height: 25vh;
}

@media screen and (max-width: 600px) {
  .mainWrapper {
    height: 100%;
    min-height: 100vh;
  }

  .svgWrapper {
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 80px;
  }

  .content.active {
    height: 100%;
    max-height: 2000px;
  }
}
