:root {
  --background-light: #fcf4f4;
  --white: #ffffff;
  --background-dark: #3d3d3d;
  --accent: #eb1764;
  --black: #202020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  color: var(--background-dark);
}

h1 {
  font-weight: 400;
}
